---
layout: default
title: Home
---
<div>
  <h1>Welcome to Glasgow Children Hospital (GCH) Minecraft</h1>
  <p>This website documents and presents the work that has been done to produce a minecraft model of Royal Hospital for Children, Glasgow through patient participation and development.</p>
  <p>This project was initiated by Ginkgo Projects in partnership with Glasgow Children’s Hospital Charity. Glasgow Children’s Hospital Charity have funded the project in partnership with Trefoil House. Production and management was handled by Hadi Mehrpouya of Abertay University and Chris Barker.</p>
  <p>The following video documents and shows the current model of the hospital in minecraft. </p>
<video width="640" height="480" controls>
  <source src="{{ site.baseurl }}/public/Minecraft.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>
<!--<div class="posts">-->
  <!--{% for post in paginator.posts %}-->
  <!--<div class="post">-->
    <!--<h1 class="post-title">-->
      <!--<a href="{{ site.baseurl }}{{ post.url }}">-->
        <!--{{ post.title }}-->
      <!--</a>-->
    <!--</h1>-->

    <!--<span class="post-date">{{ post.date | date_to_string }}</span>-->

    <!--{{ post.content }}-->
  <!--</div>-->
  <!--{% endfor %}-->
<!--</div>-->

<!--<div class="pagination">-->
  <!--{% if paginator.next_page %}-->
    <!--<a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>-->
  <!--{% else %}-->
    <!--<span class="pagination-item older">Older</span>-->
  <!--{% endif %}-->
  <!--{% if paginator.previous_page %}-->
    <!--{% if paginator.page == 2 %}-->
      <!--<a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>-->
    <!--{% else %}-->
      <!--<a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>-->
    <!--{% endif %}-->
  <!--{% else %}-->
    <!--<span class="pagination-item newer">Newer</span>-->
  <!--{% endif %}-->
<!--</div>-->
